
@keyframes gaming {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}
table.stdlist tr.row0,
.row1 {
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0%
    center/200%;
  animation: gaming 2s linear infinite;
  &:hover {
    animation: none;
    background: white;
  }
}
