@keyframes gaming {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

html {
  animation-name: gaming;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
